.team-details{
    background-color: #0E0A2A;
    min-height: 100vh;
}
.social-media-icons{
    margin: 30px;
    font-size: 20px;
}

 .social-media-icons a{
     margin: 10px;
 }
.team-details-text{
    font-size: 18px;
    width: 75%;
    color: white;
    text-align: justify;
}
a.social{
    color: white;
}
a.youtube:hover {
    color: #eb3223;
}
  
a.facebook:hover {
    color: #4968ad;
}
  
a.twitter:hover {
    color: #49a1eb;
}


