.card-width{
    width: 20rem;
}
.card-img{
    text-align: center;
    padding: 20px;
}
.glass-card{
    box-shadow: 20px 20px 50px  rgba(0, 0, 0, 0.055);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    text-align: center;
}
.glass-card img{
    width: 200px;
}